@import '~bootstrap/scss/bootstrap';

.main-wrapper {
    height: calc(100vh - 57px);
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

.mb-nav-link {
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: white;
    }
}
